.background {
  background-color: rgb(250, 0, 0);
  line-height: 1;
  margin: 0px;
  padding: 0px;
}
.title {
  font-size: 20px;
  line-height: 1;
  margin: 0px;
  padding: 0px;
}

.message {
  font-size: 15px;
  line-height: 1;
  color: #000000;
}

.home {
  border: none;
  font-size: 15px;
  font-weight: 500;
  font-style: oblique;
  color: #000000;
  background-color: #2bff01;
}
